{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <style>
        .mapInfo {
            display: flex;
        }

        .mapcontainer {
            width: 60%;
            position: relative;
            overflow: hidden;
            padding-bottom: 50%;
        }

        .mapcontainer .leaflet-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            box-sizing: border-box;
        }

        .info {
            width: 40%;
            padding-left: 10px;
        }
    </style>
</head>

<body>
    <div class="mapInfo">
        <div class="mapcontainer">
            {% leaflet_map "pistes" callback="main_map_init" %}
        </div>
        <div class="info">
            <div id="name"></div>
            <div id="Length"></div>
        </div>
    </div>
    <script type="text/javascript">
        let mapAnzere;
        function main_map_init(map, options) {
            mapAnzere = map;

            mapAnzere.setView(L.latLng(46.3166, 7.3995), 14)
            let pisteurl = '{% url "pistejson" %}'
            let remonteeurl = '{% url "remonteejson" %}'
            $.getJSON(pisteurl, function (data) {
                L.geoJson(data, { onEachFeature: onEachFeature }).addTo(map);
            });
            $.getJSON(remonteeurl, function (data) {
                L.geoJson(data, { onEachFeature: onEachFeature }).addTo(map);
            });
        }
        /*
                function onEachFeature(feature, layer) {
                    if (feature.properties &&
                        feature.properties.name) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
        */
        function highlightFeature(e) {
            var layer = e.target;
            console.log("I'm there")

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            layer.bringToFront();

        }

        function resetHighlight(e) {
            var layer = e.target;
            if (layer.feature.properties.type == 'remontee') {
                layer.setStyle({
                    color: '#ff0000',
                    weight: 2,
                    dashArray: '',
                    fillOpacity: 0.7
                })
            } else {
                layer.setStyle({
                    weight: 3,
                    color: '#0000FF',
                    dashArray: '',
                    fillOpacity: 0.7
                })
            }
        }

        // assign event handlers for mouseover, mouseout, click
        function onEachFeature(feature, layer) {
            console.log(layer)
            if (layer.feature.properties.type == 'remontee') {
                layer.setStyle({
                    color: '#ff0000',
                    weight: 2,
                    dashArray: '',
                    fillOpacity: 0.7
                })
            }
            else {
                layer.setStyle({
                    weight: 3,
                    color: '#0000FF',
                    dashArray: '',
                    fillOpacity: 0.7
                })
            }
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature,
            });
        }
        function zoomToFeature(e) {
            mapAnzere.fitBounds(e.target.getBounds());
            console.log(e)
            let name
            if (e.target.feature.properties.type == 'remontee') {
                name = e.target.feature.properties.rems_name
            }
            else {
                name = e.target.feature.properties.pistes_name
            }
            let pisteLength = calculateLength(e.target.feature.geometry);
            $("#name").text("Piste Name: " + name);
            $("#Length").text("Piste Length: " + pisteLength + " meters");
        }

        function calculateLength(geometry) {
            let length = 0;
            if (geometry.type === 'MultiLineString') {
                for (let i = 0; i < geometry.coordinates.length; i++) {
                    length += calculateLineLength(geometry.coordinates[i]);
                }
            }
            return length.toFixed(2);
        }

        function calculateLineLength(coordinates) {
            let length = 0;
            for (let i = 1; i < coordinates.length; i++) {
                const p1 = coordinates[i - 1];
                const p2 = coordinates[i];
                length += distanceBetweenPoints(p1, p2);
            }
            return length;
        }

        function distanceBetweenPoints(p1, p2) {
            const lat1 = p1[1];
            const lon1 = p1[0];
            const lat2 = p2[1];
            const lon2 = p2[0];

            const R = 6371e3;
            const phi1 = (lat1 * Math.PI) / 180;
            const phi2 = (lat2 * Math.PI) / 180;
            const deltaPhi = ((lat2 - lat1) * Math.PI) / 180;
            const deltaLambda = ((lon2 - lon1) * Math.PI) / 180;

            const a = Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +
                Math.cos(phi1) * Math.cos(phi2) *
                Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

            return R * c;
        }

    </script>
</body>