{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <style>
        body {
            display: flex;
            flex-direction: column;
            background-color: #404040;
            margin: 0;
            min-height: 100vh;
        }

        .navbar {
            height: 90px !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 0.75rem;
        }

        .mapInfo {
            display: flex;
            margin: 2em;
            margin-top: 1em;
        }

        .mapcontainer {
            width: 50%;
            position: relative;
            overflow: hidden;
            padding-bottom: 50%;
            border-radius: 5px;
        }

        .mapcontainer .leaflet-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            box-sizing: border-box;
        }

        .info {
            width: 40%;
            padding-left: 60px;
            color: white;
        }

        .info div {
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .margin {
            margin-left: 2em;
            margin-bottom: 1em;
        }

        #name {
            font-size: 30px;
            font-weight: bold;
            text-align: center;

        }

        #Length {
            font-size: 16px;
            text-align: center;
        }

        footer {
            display: flex;
            justify-content: center;
            margin-top: auto;
            /*Keeps footer at the bottom*/
            /*Might be better to use the seen in class method but that means Header and Footer would have an absolute size instead of relative??*/
            padding: 1vw;
            color: #8c8f93;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md py-0 navbar-dark bg-dark" style="padding: 0;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="anzere">Carte <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="list">Installation</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="distance">Distance</a>
                </li>
            </ul>
        </div>
        <div class="header bg-dark d-flex justify-content-end align-items-center pr-1" style="width: 60%; background-color: #404040;">
            <img src="https://cdn.discordapp.com/attachments/1110823749973979198/1119683284004257852/logo.png" style="width: 20%">
        </div>
    </nav>

    <div class="mapInfo">
        <div class="mapcontainer">
            {% leaflet_map "pistes" callback="main_map_init" %}
        </div>
        <div id="infoId" class="info">
            <div id="name"></div>
            <div id="Length"></div>
            <div id="Dificulty">
            </div>
        </div>
    </div>
    <div>
        <div class="btn-group">
            <button class="btn btn-danger dropdown-toggle margin" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sélectionnez une piste
            </button>
            <div class="dropdown-menu" id="pistesDropdownMenu"></div>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger dropdown-toggle margin" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sélectionnez une remontée
            </button>
            <div class="dropdown-menu" id="remonteesDropdownMenu"></div>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger dropdown-toggle margin" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sélectionnez un bâtiment
            </button>
            <div class="dropdown-menu" id="batimentDropdownMenu"></div>
        </div>
        <footer class="bg-dark">
            (P)-Anzère tout droit réservé ©
        </footer>
    </div> 
    <script type="text/javascript">
        let mapAnzere;
        let targets = [];
        localStorage.setItem("currentlySelected", "none");
        localStorage.setItem("currentlySelectedType", "none");
        function main_map_init(map, options) {
            mapAnzere = map;
            let customShape;

            mapAnzere.options.maxZoom = 20;
            mapAnzere.setView(L.latLng(46.3166, 7.3995), 14)

            let pisteurl = '{% url "pistejson" %}'
            let remonteeurl = '{% url "remonteejson" %}'
            let batimenturl = '{% url "batimentjson" %}'

            $.getJSON(pisteurl, function (data) {
                const geojsonLayer = L.geoJson(data, { onEachFeature: onEachFeature }).addTo(map);
                //Populate the dropdown menu
                const dropdownMenu = $("#pistesDropdownMenu");
                for (let i = 0; i < data.features.length; i++) {
                    let feature = data.features[i]
                    let pisteName = feature.properties.pistes_nam;
                    let dropdownItem = $("<a class='dropdown-item' href='#'>" + pisteName + "</a>")

                    dropdownItem.click(function () {
                        let bounds = L.geoJson(feature).getBounds();
                        mapAnzere.fitBounds(bounds)
                        //Call the displayInfo and hilighFeature
                    })

                    dropdownMenu.append(dropdownItem)
                };
            });

            $.getJSON(remonteeurl, function (data) {
                const geojsonLayer = L.geoJson(data, { onEachFeature: onEachFeature }).addTo(map);
                //Populate the dropdown menu
                const dropdownMenu = $("#remonteesDropdownMenu");
                for (let i = 0; i < data.features.length; i++) {
                    let feature = data.features[i]
                    let remonteeName = feature.properties.rems_name;
                    let dropdownItem = $("<a class='dropdown-item' href='#'>" + remonteeName + "</a>")

                    dropdownItem.click(function () {
                        let bounds = L.geoJson(feature).getBounds();
                        mapAnzere.fitBounds(bounds)
                        //Call the displayInfo and hilighFeature
                    })

                    dropdownMenu.append(dropdownItem)
                };

            });

            $.getJSON(batimenturl, function (data) {
                const geojsonLayer = L.geoJson(data, { onEachFeature: onEachFeature }).addTo(map);
                //Populate the dropdown menu
                const dropdownMenu = $("#batimentDropdownMenu");
                for (let i = 0; i < data.features.length; i++) {
                    let feature = data.features[i]
                    let batimentName = feature.properties.bat_name;
                    let dropdownItem = $("<a class='dropdown-item' href='#'>" + batimentName + "</a>")

                    dropdownItem.click(function () {
                        let bounds = L.geoJson(feature).getBounds();
                        mapAnzere.fitBounds(bounds)
                        //Call the displayInfo and hilighFeature
                    })

                    dropdownMenu.append(dropdownItem)
                };
            });

            // circle appears where we clicked
            mapAnzere.on('click', function (e) {
                if (customShape) {
                    mapAnzere.removeLayer(customShape);
                }

                customShape = L.circle(e.latlng, {
                    radius: 10,
                    color: 'red',
                    fillOpacity: 0.7,
                });

                customShape.addTo(mapAnzere);
            });
        }
        function highlightFeature(e) {
            var layer = e.target;
            console.log("I'm there")

            layer.setStyle({
                weight: 7,
                color: 'gold',
                dashArray: '',
                fillOpacity: 0.7
            });

            layer.bringToFront();

        }
        function resetHighlightBase(e) {
            resetHighlight(e.target);
        }

        function resetHighlight(target) {
            var layer = target;
            if (layer.feature.properties.type == 'remontee') {
                if (localStorage.getItem("currentlySelected") != target.feature.properties.rems_name) {
                    layer.setStyle({
                        color: '#ff0000',
                        weight: 3,
                        dashArray: '',
                        fillOpacity: 0.7
                    })
                }
            } else if (layer.feature.properties.type == 'piste') {
                if (localStorage.getItem("currentlySelected") != target.feature.properties.pistes_nam) {
                    layer.setStyle({
                        weight: 4,
                        color: '#0000FF',
                        dashArray: '',
                        fillOpacity: 0.7
                    })
                }
            } else {
                if (localStorage.getItem("currentlySelected") != target.feature.properties.bat_name) {
                    layer.setStyle({
                        weight: 4,
                        color: '#964B00',
                        dashArray: '',
                        fillOpacity: 0.7
                    })
                }
            }
        }

        // assign event handlers for mouseover, mouseout, click
        function onEachFeature(feature, layer) {
            if (layer.feature.properties.type == 'remontee') {
                layer.setStyle({
                    color: '#ff0000',
                    weight: 3,
                    dashArray: '',
                    fillOpacity: 0.7
                })
            }
            else if (layer.feature.properties.type == 'piste') {
                layer.setStyle({
                    weight: 4,
                    color: '#0000FF',
                    dashArray: '',
                    fillOpacity: 0.7
                })
            }
            else {
                layer.setStyle({
                    weight: 4,
                    color: '#964B00',
                    dashArray: '',
                    fillOpacity: 0.7
                })
            }
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlightBase,
                click: displayInfo,
            });

            targets.push(layer);
        }
        function displayInfo(e) {
            if (localStorage.getItem("currentlySelected") != "none") {
                resetHighlight(retrieveTargetByName(localStorage.getItem("currentlySelected")))
            }
            mapAnzere.fitBounds(e.target.getBounds());
            let name
            localStorage.setItem("currentlySelectedType", e.target.feature.properties.type)
            if (e.target.feature.properties.type == 'remontee') {
                name = e.target.feature.properties.rems_name;
                localStorage.setItem("currentlySelected", name);
                $("#name").text(name);
            }
            else if (e.target.feature.properties.type == 'piste') {
                name = e.target.feature.properties.pistes_nam;
                localStorage.setItem("currentlySelected", name);
                $("#name").text(name);
            }
            else {
                name = e.target.feature.properties.bat_name;
                localStorage.setItem("currentlySelected", name);
                $("#name").text(name);
            }

            let Length
            if (e.target.feature.geometry.type == 'MultiLineString') {
                if (e.target.feature.properties.type == 'piste') {
                    const pisteName = e.target.feature.properties.pistes_nam;
                    const url = `/swissgeo/get_length_piste/${pisteName}/`;
                    $.ajax({
                        url: url,
                        success: function (data) {
                            Length = data;
                            $("#Length").text("Longueur de la piste: " + Length + " mètres");
                        },
                        error: function () {
                            console.error('Error occurred while retrieving piste length.');
                        }
                    });
                }
                else {
                    const remonteeName = e.target.feature.properties.rems_name;
                    const url = `/swissgeo/get_length_remontee/${remonteeName}/`;
                    $.ajax({
                        url: url,
                        success: function (data) {
                            Length = data;
                            $("#Length").text("Longueur de la remontée: " + Length + " mètres");
                        },
                        error: function () {
                            console.error('Error occurred while retrieving piste length.');
                        }
                    });
                }
            }
            else {
                const batimentName = e.target.feature.properties.bat_name;
                const url = `/swissgeo/get_area_batiment/${batimentName}/`;
                $.ajax({
                    url: url,
                    success: function (data) {
                        Length = data;
                        $("#Length").text("Aire du bâtiment: " + Length + " mètres carrés");
                    },
                    error: function () {
                        console.error('Error occurred while retrieving piste length.');
                    }
                });
            }
            let difficulty;
            if (e.target.feature.properties.type == 'piste') {
                $("#Dificulty").html("<p>Difficulté de la piste :</p>")
                if (e.target.feature.properties.difficulty == 'rouge') {
                    let imageUrl = "https://cdn.discordapp.com/attachments/888190539093123072/1119660736109617162/Rouge.png"
                    $("#Dificulty").append("<img src='" + imageUrl + "' alt='" + difficulty + " Difficulty'>");
                }
                else if (e.target.feature.properties.difficulty == 'bleu') {
                    let imageUrl = "https://cdn.discordapp.com/attachments/888190539093123072/1119660744523395102/Bleu.png"
                    $("#Dificulty").append("<img src='" + imageUrl + "' alt='" + difficulty + " Difficulty'>");
                }
                else {
                    let imageUrl = "https://cdn.discordapp.com/attachments/888190539093123072/1119660747862065244/Noir.png"
                    $("#Dificulty").append("<img src='" + imageUrl + "' alt='" + difficulty + " Difficulty'>");
                }
            }
        }

        function retrieveTargetByName(name) {
            if (localStorage.getItem("currentlySelectedType") == 'remontee') {
                newTarget = targets.find(target => target.feature.properties.rems_name === name);
            }
            else if (localStorage.getItem("currentlySelectedType") == 'piste') {
                newTarget = targets.find(target => target.feature.properties.pistes_nam === name);
            }
            else {
                newTarget = targets.find(target => target.feature.properties.bat_name === name);
            }
            localStorage.setItem("currentlySelected", "none");
            localStorage.setItem("currentlySelectedType", "none");
            return newTarget;
        }
    </script>
</body>