<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h1 class="mb-3 text-center">Liste des pistes</h1>
<ul class="list-group">
  {% for piste in pistes %}
  <li>
    <a href="/swissgeo/pistes/{{piste.id}}" class="list-group-item list-group-item-action">
      {{piste.pistes_nam}}
    </a>
  </li>
  {% endfor %}
</ul>

<h1 class="mb-3 text-center">Liste des remontées</h1>
<ul class="list-group">
  {% for remontee in remontees %}
  <li>
    <a href="/swissgeo/remontees/{{remontee.id}}" class="list-group-item list-group-item-action">
      {{remontee.rems_name}}
    </a>
  </li>
  {% endfor %}
</ul>

<h1 class="mb-3 text-center">Liste des batiments</h1>
<ul class="list-group">
  {% for batiment in batiments %}
  <li>
    <a href="/swissgeo/batiments/{{batiment.id}}" class="list-group-item list-group-item-action">
      {{batiment.bat_name}}
    </a>
  </li>
  {% endfor %}
</ul>